<!DOCTYPE html>
{% load static %}
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Fleet Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:400,600,700&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />

</head>

<body>
    <header class="page-header">
        <nav class="navbar navbar-expand-lg justify-content-between">
            <a href="/" class="navbar-brand main-logo main-logo-smaller">
                Flota Samochodowa <span>System Zarządzania</span>
            </a>
            <div class="d-flex justify-content-around">
                {% if user.is_authenticated %}
                <h4 class="text-light mr-3">Zalogowany jako: {{ user.username }}</h4>
                <a href="{% url 'logout' %}" class="btn btn-danger">Wyloguj</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary mr-2">Zaloguj</a>
                <a href="{% url 'register' %}" class="btn btn-secondary">Zarejestruj</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <section class="dashboard-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav flex-column long-bg">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <span>Pulpit</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'car_add' %}">
                                <span>Dodaj Samochód</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'car_list' %}">
                                <span>Lista Samochodów</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'client_add' %}">
                                <span>Dodaj Klienta</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'client_list' %}">
                                <span>Lista Klientów</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'driver_add' %}">
                                <span>Dodaj Kierowcę</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'driver_list' %}">
                                <span>Lista Kierowców</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'fleetmanager_add' %}">
                                <span>Dodaj Zarządcę Floty</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'fleetmanager_list' %}">
                                <span>Lista Zarządców Floty</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'order_list' %}">
                                <span>Lista Zamówień</span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">

                <div class="m-4 p-3 width-medium text-color-gold">
                <!-- //--------------------------- page content -------------------------// -->
                {% block content %}{% endblock content %}
                <!-- //--------------------------- page content end ---------------------// -->
                </div>
                </div>
            </div>
            </div>
    </section>
</body>

</html>