{% extends "__base__.html" %}
{% block title %}Lista Dostępności{% endblock title %}
{% block content %}
    <h1>Lista Dostępności</h1>
    <ul>
        {% for availability in availability_list %}
            <li>{{ availability.car }} - od {{ availability.start_date }} do {{ availability.end_date }}</li>
                <form action="{% url 'availability_delete' availability.pk %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
        {% endfor %}
    </ul>
{% endblock content %}
