{% extends "__base__.html" %}
{% block title %}Lista Sieci Dealerskich{% endblock title %}
{% block content %}
    <h1>Lista Sieci Dealerskich</h1>
    <ul>
        {% for network in dealership_networks %}
            <li>{{ network.name }}</li>
            <li>Lokalizacje: {{ network.locations }}</li>
            <form action="{% url 'dealershipnetwork_delete' network.pk %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
        {% endfor %}
    </ul>
{% endblock content %}
