{% extends "__base__.html" %}
{% block title %}Lista Menedżerów Floty{% endblock title %}
{% block content %}
    <h1>Lista Menedżerów Floty</h1>
    <ul>
        {% for fleet_manager in fleet_managers %}
            <li>{{ fleet_manager }}</li>
            <form action="{% url 'fleetmanager_delete' fleet_manager.pk %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
        {% endfor %}
    </ul>
{% endblock content %}
