{% extends "__base__.html" %}
{% block title %}Lista Historii Serwisu{% endblock title %}
{% block content %}
    <h1>Lista Historii Serwisu</h1>
    <ul>
        {% for history in service_history_list %}
            <li>{{ history.car }} - {{ history.service_date }} - Koszt: {{ history.cost }}</li>
            <form action="{% url 'servicehistory_delete' history.pk %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
        {% endfor %}
    </ul>
{% endblock content %}